---
import Page from "~/layouts/Page.astro";
import NavBar from "~/components/NavBar.astro";
import ReactCounter from "~/components/ReactCounter";

function name () {
}

name();
---

<Page title="With React">
  <NavBar />
  <div class="h-full grid items-center">
    <div class="flex gap-10 justify-center">
      <ReactCounter client:load />
      <ReactCounter />
      <ReactCounter />
    </div>
  </div>
</Page>
