---
import Page from "~/layouts/Page.astro";
import NavBar from "~/components/NavBar.astro";
import ReactCounter from "~/components/ReactCounter";

function name () {
}

name();
---

<Page title="With React">
  <NavBar />

  <div>
    <ReactCounter client:load />
    <ReactCounter />
    <ReactCounter />
  </div>
</Page>
